./.venv
./artifacts
trained_model_ex3
artifacts
trained_model_ex3_v1
trained_model_ex3_v2
trained_model_ex3_precision_class1_v1
trained_model_ex3_v2_macro_f1_v1
trained_model_ex3_f1_class1_weighted
trained_model_ex3_f1_class1_weighted_2_epoc
./models