./.venv
./artifacts
trained_model_ex3
artifacts
trained_model_ex3_v1
trained_model_ex3_v2
trained_model_ex3_precision_class1_v1
trained_model_ex3_v2_macro_f1_v1
trained_model_ex3_f1_class1_weighted
trained_model_ex3_f1_class1_weighted_2_epoc
./models
models/all-MiniLM-L6-v2.zip
models/msmarco-MiniLM-L6-cos-v5.zip
models/all-MiniLM-L6-v2/config_sentence_transformers.json
models/all-MiniLM-L6-v2/config.json
models/all-MiniLM-L6-v2/data_config.json
models/all-MiniLM-L6-v2/modules.json
models/all-MiniLM-L6-v2/pytorch_model.bin
models/all-MiniLM-L6-v2/README.md
models/all-MiniLM-L6-v2/sentence_bert_config.json
models/all-MiniLM-L6-v2/special_tokens_map.json
models/all-MiniLM-L6-v2/tokenizer_config.json
models/all-MiniLM-L6-v2/tokenizer.json
models/all-MiniLM-L6-v2/train_script.py
models/all-MiniLM-L6-v2/vocab.txt
models/all-MiniLM-L6-v2/1_Pooling/config.json
models/msmarco-MiniLM-L6-cos-v5/config_sentence_transformers.json
models/msmarco-MiniLM-L6-cos-v5/config.json
models/msmarco-MiniLM-L6-cos-v5/modules.json
models/msmarco-MiniLM-L6-cos-v5/pytorch_model.bin
models/msmarco-MiniLM-L6-cos-v5/README.md
models/msmarco-MiniLM-L6-cos-v5/sentence_bert_config.json
models/msmarco-MiniLM-L6-cos-v5/special_tokens_map.json
models/msmarco-MiniLM-L6-cos-v5/tokenizer_config.json
models/msmarco-MiniLM-L6-cos-v5/tokenizer.json
models/msmarco-MiniLM-L6-cos-v5/vocab.txt
models/msmarco-MiniLM-L6-cos-v5/1_Pooling/config.json
__pycache__/losses.cpython-311.pyc
dataprocessing/__pycache__/binaryset.cpython-311.pyc
dataprocessing/__pycache__/triplets_set.cpython-311.pyc
Evaluation/__pycache__/inbuilt.cpython-311.pyc
Evaluation/__pycache__/recalleval.cpython-311.pyc
models/tuned_model/checkpoint-150/config_sentence_transformers.json
models/tuned_model/checkpoint-150/config.json
models/tuned_model/checkpoint-150/model.safetensors
models/tuned_model/checkpoint-150/modules.json
models/tuned_model/checkpoint-150/optimizer.pt
models/tuned_model/checkpoint-150/README.md
models/tuned_model/checkpoint-150/rng_state.pth
models/tuned_model/checkpoint-150/scheduler.pt
models/tuned_model/checkpoint-150/sentence_bert_config.json
models/tuned_model/checkpoint-150/special_tokens_map.json
models/tuned_model/checkpoint-150/tokenizer_config.json
models/tuned_model/checkpoint-150/tokenizer.json
models/tuned_model/checkpoint-150/trainer_state.json
models/tuned_model/checkpoint-150/training_args.bin
models/tuned_model/checkpoint-150/vocab.txt
models/tuned_model/checkpoint-150/1_Pooling/config.json
models/tuned_model/checkpoint-360/config_sentence_transformers.json
models/tuned_model/checkpoint-360/config.json
models/tuned_model/checkpoint-360/model.safetensors
models/tuned_model/checkpoint-360/modules.json
models/tuned_model/checkpoint-360/optimizer.pt
models/tuned_model/checkpoint-360/README.md
models/tuned_model/checkpoint-360/rng_state.pth
models/tuned_model/checkpoint-360/scheduler.pt
models/tuned_model/checkpoint-360/sentence_bert_config.json
models/tuned_model/checkpoint-360/special_tokens_map.json
models/tuned_model/checkpoint-360/tokenizer_config.json
models/tuned_model/checkpoint-360/tokenizer.json
models/tuned_model/checkpoint-360/trainer_state.json
models/tuned_model/checkpoint-360/training_args.bin
models/tuned_model/checkpoint-360/vocab.txt
models/tuned_model/checkpoint-360/1_Pooling/config.json
models/tuned_model/eval/Information-Retrieval_evaluation_results.csv
models/tuned_model/checkpoint-405/config_sentence_transformers.json
models/tuned_model/checkpoint-405/config.json
models/tuned_model/checkpoint-405/model.safetensors
models/tuned_model/checkpoint-405/modules.json
models/tuned_model/checkpoint-405/optimizer.pt
models/tuned_model/checkpoint-405/README.md
models/tuned_model/checkpoint-405/rng_state.pth
models/tuned_model/checkpoint-405/scheduler.pt
models/tuned_model/checkpoint-405/sentence_bert_config.json
models/tuned_model/checkpoint-405/special_tokens_map.json
models/tuned_model/checkpoint-405/tokenizer_config.json
models/tuned_model/checkpoint-405/tokenizer.json
models/tuned_model/checkpoint-405/trainer_state.json
models/tuned_model/checkpoint-405/training_args.bin
models/tuned_model/checkpoint-405/vocab.txt
models/tuned_model/checkpoint-405/1_Pooling/config.json
models/tuned_model/checkpoint-50/config_sentence_transformers.json
models/tuned_model/checkpoint-50/config.json
models/tuned_model/checkpoint-50/model.safetensors
models/tuned_model/checkpoint-50/modules.json
models/tuned_model/checkpoint-50/optimizer.pt
models/tuned_model/checkpoint-50/rng_state.pth
models/tuned_model/checkpoint-50/scheduler.pt
models/tuned_model/checkpoint-50/sentence_bert_config.json
models/tuned_model/checkpoint-50/special_tokens_map.json
models/tuned_model/checkpoint-50/tokenizer_config.json
models/tuned_model/checkpoint-50/tokenizer.json
models/tuned_model/checkpoint-50/trainer_state.json
models/tuned_model/checkpoint-50/training_args.bin
models/tuned_model/checkpoint-50/vocab.txt
models/tuned_model/checkpoint-50/1_Pooling/config.json
