./.venv
./artifacts
trained_model_ex3
artifacts
trained_model_ex3_v1
trained_model_ex3_v2
trained_model_ex3_precision_class1_v1
trained_model_ex3_v2_macro_f1_v1
trained_model_ex3_f1_class1_weighted
trained_model_ex3_f1_class1_weighted_2_epoc
models/*
meow3/*
__pycache__/*
dataprocessing/__pycache__/*
Evaluation/__pycache__/*
checkpoints/eval/Information-Retrieval_evaluation_sts-dev_results.csv
domen-model3/config_sentence_transformers.json
domen-model3/config.json
domen-model3/model.safetensors
domen-model3/modules.json
domen-model3/README.md
domen-model3/sentence_bert_config.json
domen-model3/special_tokens_map.json
domen-model3/tokenizer_config.json
domen-model3/tokenizer.json
domen-model3/vocab.txt
domen-model3/1_Pooling/config.json
